.popup-wrapper{
    position: fixed;
    width: fit-content;
    height: fit-content;
    top: -10000px;
    left: 0%;
    bottom: 0%;
    right: 0%;
    margin: auto;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 24px;
    pointer-events: auto  !important;
    transition: all .25s ease-in-out;
}

.popup-active{
    box-shadow:0 0 0 10000px rgba(0,0,0,.50);
    top: 0% !important;

}

.popup-title{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.popup-content{
    font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #554FD8;

}