.eduactionalwrapper {

    background: linear-gradient(360deg, #EFF0F6 0%, rgba(239, 240, 246, 0) 65.48%);
    border-radius: 56px 0px;
    min-height: 570px;

  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(30, 32, 41, 0.6);
  }
  .cardWrapper {
    border-radius: 12px 0px;
    position: relative;
    width: 32%;
  .eduImg {
    border-radius: 12px 0px;
    height: 190px;
    object-fit: cover;
    width: 100%;

    @media only screen and (max-width: 991px) {
        height: 140px !important; 
    }
  }

  .purpleArrow {
    position: absolute;
    right: 0;
    bottom: -20px;
  }
}
}

.edu-sphere {
  position: absolute;
  right: 55%;
  top: -59px;
  z-index: 0;
}

.edu-sphere2 {
  position: absolute;
  right: 22%;
  bottom: -80px;
  z-index: 0;
  width: 200px;
  height: 200px;
}
