.presstable {
  padding: 20px;
  width: 100%;
  background: linear-gradient(
    93.49deg,
    #aaa5eb 0%,
    #7770e0 22.98%,
    #645edc 39.94%,
    #7770e0 58.54%,
    #554fd8 83.7%,
    #aaa5eb 105.04%
  );

  img {
    width: 75px;
    height: 75px;
  }

  .presscell {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F1FF;
  }

  tr {
    display: flex;
    justify-content: space-between;
  }

  tr:first-child {
    td:nth-child(odd) {
        border-radius: 32px 0px;
    }
    td:nth-child(even) {
        border-radius: 0px 32px 0px 32px;
    }
  }

  tr:nth-child(2) {
    td:nth-child(even) {
        border-radius: 32px 32px 0px 32px;
    }
    td:nth-child(odd) {
        border-radius: 32px 0px 32px 32px;
    }
  }

  tr:nth-child(3) {
    td:nth-child(odd) {
        border-radius: 32px 32px 32px 0px;
    }
    td:nth-child(even) {
        border-radius: 32px 32px 0px 32px;
    }
  }

  tr:nth-child(4) {
    td:nth-child(even) {
        border-radius:  32px 32px 32px 0px;
    }
    td:nth-child(odd) {
        border-radius: 0px 32px 32px 32px;
    }
  }

}
