.faq-wrapper{
    min-height: 900px;
    position: relative;
    background-image: url('../assets/faqBackground.svg');

    .faq-container{
        background: #FFFFFF;
        border: 6px solid #7670E0;
        box-shadow: 0px 24px 60px rgba(85, 79, 216, 0.25);
        border-radius: 56px 0px;

        .form-select{
            font-size: 14px;
            border: 1px solid #A0A3BD;
            border-radius: 8px;
            color: #A0A3BD;
            z-index: 3;
        }

        h2{
            color: #7670E0;
        }
    }

    .categories-container{
        background: linear-gradient(0deg, #EFF0F6 0%, #FFFFFF 73.43%);
        border-radius: 0px 0px 56px 56px;
        min-height: 500px;

        .search-container{
                    background: #FFFFFF;
        box-shadow: 0px 24px 60px rgba(85, 79, 216, 0.25);
        border-radius: 28px 0px;
        height: 100px;

        @media screen and (max-width: 786px) {
            width: 100% !important;
            
        }
        }

        .categories-grid{
            display: grid;
            grid-template-columns: repeat(6, 1fr);

            @media screen and (max-width: 786px) {
                grid-template-columns: repeat(2,1fr);
            }
            .category-card{
                background: #FFFFFF;
                border: 2px solid #E9EAF0;
                box-shadow: 0px 14px 40px rgba(0, 0, 0, 0.08);
                border-radius: 28px 0px;
                width: 120px;
                height: 120px;
                cursor: pointer;
    
                p{
                    color: #7670E0;
                }
            }

            .active-category{
                background: linear-gradient(135deg, #7770E0 0%, #554FD8 100%) !important;
                box-shadow: 0px 24px 60px rgba(85, 79, 216, 0.25) !important;
                border-radius: 28px 0px !important;
                p{
                    color: #F7F7FC !important;
                }
            }
        }

      
    }
}

