.buydypscreen {
    background: url(https://cdn.worldofdypians.com/dypius/buydyp-screenbg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    overflow-x: hidden;
}