.uni-card {
  width: 290px;
  position: absolute;
  right: 0;
  top: 60px;
  transition: all .5s;
}

.mexc-card{
  width: 290px;
  position: absolute;
  left: 0;
  top: 30px;
  transition: all .5s;
}

.pancake-card {
  width: 290px;
  position: absolute;
  left: 32px;
  top: 170px;
  transition: all .5s;
}

.pangolin-card {
  width: 290px;
  position: absolute;
  left: 300px;
  top: 195px;
  transition: all 0.5s;
}

.uni-card:hover,
.pancake-card:hover,
.pangolin-card:hover,
.mexc-card:hover{
  transform: translateX(5px) translateY(5px);
}



.buyidypsection {
  position: relative;
  min-height: 430px;
  width: 100%;
  justify-content: space-between;
  // overflow: hidden;
}

.buyidypsection::before {
  content: "";
  background-image: url("../assets/buyidypbg.png"),
  linear-gradient(0deg, #EFF0F6 0%, #FFFFFF 73.43%);
  background-size: cover;
  background-position: bottom;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  // opacity: 0.2;
  border-radius: 0px 0px 56px 56px;
}

@media screen and (max-width: 1200px) {
  .marketplace-container{
    .mexc-card{
      left: -70px;
    }
    .uni-card{
      right: -15px;
    }
    .pancake-card{
      left: -30px;
    }
    .pangolin-card{
      left: 210px;
    }
  }
}



@media only screen and (max-width: 991px) {
 .marketplace-container{

  display: grid;
  gap: 25px;

  .uni-card,
  .pancake-card,
  .pangolin-card,
  .mexc-card {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    width: 350px;
  }

 }
  #ourTokens{
    top: 40px !important;
    margin-bottom: 130px;
  }
}

@media only screen and (max-width: 375px) {
  .uni-card,
  .pancake-card,
  .pangolin-card,
  .mexc-card {
    position: relative;
    left: -15px;
    right: auto;
    top: auto;
  }

 

}

