.vaultwrapper {
  .vaultInner {
    width: 374px;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: rgba(30, 32, 41, 0.6);
    }
  }
}

#vault {
  background: url(../../../assets/DypAssets/vaultbg.svg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  position: relative;
}

