.dyp-partners{
    min-height: 200px;
    width: 101%;
    background-color: #eff0f6;
    background-image: url("../../../assets/partnersBackground.svg");
    border-radius: 56px 0;
    transform: translate3d(0,0,0);
    position: relative;
    overflow: hidden;


   
        .partner_wrapper{
            position: relative;
            min-width: 135px;
            height: 100%;
            gap: 10px;
            p{
                text-align: center;
            }
        }


    .partner_wrapper{
        img{
            // filter: grayscale(100%);
            width: 70px;
            height: 70px;
        }
    }

    .slick-list{
      width: 1500px;
      margin-top: 50px;
    }

    .slick-slide{
      width: 250px !important;
    }
}



.partners-title{
  font-weight: 300;
  background: linear-gradient(360deg, #554FD8 1.07%, #7770E0 88.8%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.partners-title{
  background: linear-gradient(360deg, #554FD8 1.07%, #7770E0 88.8%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// @-webkit-keyframes moveSlideshow {
//     100% {
//       transform: translateX(-100%);
//     }
//   }
  
//   @keyframes moveSlideshow {
//     100% {
//       transform: translateX(-100%);
//     }
//   }
