
  .branditem {
    background: linear-gradient(180deg, #EFF0F6 0%, #EFF0F6 100%);
    border-radius: 28px 0px;
    padding: 20px;
    }

    .brand-desc {
      font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(30, 32, 41, 0.6);
  }