.page-navigation{

    position: fixed;
    width: 100%;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    z-index: 999;
        

    .links{
      border-radius: 6px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
    height: 55px;


    a{
      font-weight: 500;
      color: rgba(85, 79, 216, 1);
      padding: 10px 5px;
    }
   
    }


    .highlight{
      padding: 5px 10px;
      background: linear-gradient(296.22deg, #57B6AB 0%, #75CAC2 100%);
      border-radius: 6px;
      color: #fff !important;
    }

    .tools-btn{
      background: linear-gradient(280.88deg, #F1643E 9.02%, #F78057 90.66%);
      box-shadow: 0px 16px 32px rgba(241, 101, 63, 0.6);
      border-radius: 12px 0px;
      z-index: 5;
      width: 150px;
      height: 50px;
      transition: all .25s;
    }

    .tools-btn:hover{
      transform: translateX(10px) translateY(11px);
    }

    


    .navlink{
      transition: all .25s;
    }

    .navlink:hover{
      color: #57B6AB !important;
    }

    .highlight:hover{
      color: #fff !important;
      
    }


  }

  .page-navigation:hover {
    opacity: 1;
  }

  .opacity{
    opacity: 0.4;
  }

  

