.gov-main-wrapper {
    background: url(./assets/mainhero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10rem;
    

    @media only screen and (max-width: 991px) {
        background-size: contain;

     
       } 
    
}

.purplelink {
    position: absolute;
    top: -137px;
    z-index: -1;
    @media only screen and (max-width: 991px) {
     display: none;
  
    } 
  
  }

  .purplelinkmd {
    display: none;

    @media only screen and (max-width: 991px) {
        display: block;
        position: absolute;
        top: -37px;
        z-index: -1;
        height: 700px;
       } 
  }