.buy-dyp{
    min-height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;

    .coin{
        position: absolute;
        right: -3%;
    }

    .coinBackground{
        top: 9%;
        position: absolute;
        width: 450px;
        right: 7%;
    }

    .ring{
        position: absolute;
        right: -8%;
        top: -15%;
    }

    .sphere-1{
        position: absolute;
        top: -10%;
        height: 150px;
        left: 25%;
        width: 150px;
    }
    
    .sphere-2{
        position: absolute; 
        bottom: -30%;
        left: 45%;
   }
}



.buy-dyp::before{
    content: "";
    background-image: url("../assets/buyDypBackground.svg"), linear-gradient(90deg, #EFF0F6 0%, rgba(239, 240, 246, 0) 75%);;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    border-radius: 56px 0px;
}

@media screen and (max-width: 786px) {

    .buy-dyp{
        min-height: 680px;

        .coinBackground{
            top: -45%;
            width: 300px;
            right: 0%;
        }

        .coin{
            width: 320px;
        }
        .ring{   
            right: -30%;
            top: 30%;
        }

        .sphere-1{
            left: 60%;
        }

        .sphere-2{
            bottom: 10%;
            left: -8%;
            height: 150px;
            width: 150px;
        }
    }

    .buy-dyp::before{
        background-position: center;
    }
    
}

